body > header {
    background-color: dodgerblue;
    color: white
}

body {
    margin:0;
    font-family: Helvetica, Arial, Helvetica, sans-serif;
}

body > main > article {
    text-align: left;
    margin: 70px;

}

main > article > header {
    text-align: left;
}

.container {
    margin: 70px;
}

h1 {
    margin-top: 0px;
}

header > nav > ul {
    list-style: none;
}

Header > nav > ul > li> a {
    color: white;

}

body > footer {
    background-color: dodgerblue;
}

body > footer > h3 {
    padding: 16px;
    text-align: center;
    color: white;
    margin-bottom:0px;
}




